<mat-toolbar class="flex justify-between" color="primary">
  <div class="flex items-center">
    <span class="self-center" color="accent">To-do list with Angular</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon color="accent">emoji_people</mat-icon>
    </button>
  </div>
  <div class="flex gap-2">
    <a  mat-raised-button routerLink="">Home</a>
    <a  mat-raised-button routerLink="random">Random Activity</a>
  </div>
</mat-toolbar>
