<div
  class="border-2 rounded border-current max-w-[500px] mx-auto p-3 flex justify-between items-center"
>
  <span class="text-2xl font-semibold mr-2">{{ todo.title }}</span>
  <div class="flex gap-2">
    <button
      (click)="handleDoneBtn(todo.title, todo._id)"
      mat-mini-fab
      color="primary"
      aria-label="Mark button"
    >
      <mat-icon>done</mat-icon>
    </button>
    <button
      mat-mini-fab
      color="primary"
      aria-label="Example icon button with a menu icon"
      (click)="handleDeleteBtn(todo._id)"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
